@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .content{
    width: 100%;
    height: 100%;
    background-color: #000;
}

*, textarea, input, button{
    outline: none;
    border: 0;
    list-style: none;
    font-family: 'Fira Code';
}