h1{
    font-size: 300;
    color: #FFF;
    position: absolute;
    left: 10px;
    top: 10px;    
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.right{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

#view{
    padding: 16px;
    color: #FFF;
    overflow: hidden;
    width: 90vw;
    max-width: 600px;
    height: 90%;
    display: flex;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, .1);
}

#view #code{
    overflow: hidden;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#view #bar{
    background-color: #FFF;
    width: .8px;
    height: 25px;
}

#input{
    color: #FFF;
    width: 70%;
    height: 70%;
    padding: 8px;
    background: #000;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, .1);
}

#start{
    color: #FFF;
    background: #000;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, .1);
    width: 100px;
    height: 40px;
    margin-top: 20px;
    transition: .4s;
}

label:last-child::after{
    content: '';
    background-color: #FFF;
    position: absolute;
    width: .3px;
    height: 25px;
    animation: isNotTyping .5s alternate-reverse infinite;
}

#start:hover{
    font-weight: bold;
    color: #000;
    background: #FFF;
}

@keyframes isNotTyping{
    from{
        background-color: #FFF;
    }
    to{
        background-color: #000;
    }
}