:root{
    --primary-light-color: #FFFFFF;
    --secundary-light-color: #000000;
    --primary-dark-color: #000000;
    --secundary-dark-color: #FFFFFF;
}

.dark-mode, .light-mode{
    transition: background-color .4s;
}

.dark-mode{
    background-color: var(--primary-dark-color);
    color: var(--secundary-dark-color);
    font-weight: bold;
}

.dark-mode #view,
.dark-mode button,
.dark-mode select,
.dark-mode #input{
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, .1);
}

.dark-mode #start:hover, 
.dark-mode select:hover, 
.dark-mode option,
.dark-mode .isRepeatOn{
    font-weight: bold;
    background: var(--secundary-dark-color);
    color: var(--primary-dark-color);
}

.light-mode{
    background-color: var(--primary-light-color);
    color: var(--secundary-light-color);
    font-weight: bold;
}

.light-mode #view,
.light-mode button,
.light-mode select,
.light-mode #input{
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .3);
}

.light-mode #start:hover, 
.light-mode select:hover, 
.light-mode option,
.light-mode .isRepeatOn{
    font-weight: bold;
    background: var(--secundary-light-color);
    color: var(--primary-light-color);
}

.light-mode #toggle-theme{
    background: var(--secundary-light-color);
    color: var(--primary-light-color);
}

.dark-mode #toggle-theme{
    background: var(--secundary-dark-color);
    color: var(--primary-dark-color);
}

h1{
    font-size: 300;
    position: absolute;
    left: 10px;
    top: 10px;    
    font-weight: bold !important;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.right, .left{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#toggle-theme{
    margin: 8px;
    margin-right: 6%;
    align-self: flex-end;
}

#view{
    padding: 16px;
    overflow: hidden;
    width: 90vw;
    max-width: 600px;
    height: 90%;
    display: flex;
}

#view #code{
    overflow: hidden;
    max-width: 100%;
}

#view #bar{
    width: .8px;
    height: 25px;
}

#input{
    width: 70%;
    height: 70%;
    padding: 8px;
    border-radius: 8px;
}

.button-group{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.button{
    border-radius: 8px;
    width: 100px;
    height: 40px;
    transition: .4s;
}

select{
    border-radius: 8px;
    height: 40px;
    transition: .4s;
}

.right label:last-child::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 25px;
    animation: isNotTyping .5s alternate infinite;
}


@keyframes isNotTyping{
    from{
        background-color: #FFF;
    }
    to{
        background-color: #000;
    }
}